/*
 * === Filters class style ===
 */

 .filters
 {
     color: white;
     height: 70px;
     width: 100%;
     border: 1px solid #DDDDDD;
     border-radius:  4px;
     position: relative;
     display: flex;
     
    
 }
 
 .filters button
 {
     background-color: #FF5A5F;
     font-size: 18px;
     color: #FFFFFF;
     border: none;
     height: 48px;
     width: 20%;
     border-radius: 4px;
     position: absolute;
     right: 30px;
     align-self: center;
 }
 
 
 .filters button:hover
 {
     opacity: 90%;
 }